.fischer-blog {
    margin-top: 150px;
    margin-bottom: 158px;

    @media screen and (max-width: 1024px) {
        margin-top: 100px;
        margin-bottom: 80px;
    }

    .container {
        h1 {
            font-family: 'poiret one';
            font-size: 96px;
            font-weight: 300;

            @media screen and (max-width: 1024px) {
                font-size: 72px;
                text-align: center;
            }

            @media screen and (max-width: 768px) {
                font-size: 56px;
                text-decoration: underline;
                text-decoration-thickness: 1px;
                text-underline-offset: 4px;
            }


        }
    }
}