html,
body {
  padding: 0;
  margin: 0 0 0 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 150px;
}

h1,
h2,
h3,
h4,
h5,
h5,
p,
a {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.container {
  margin-inline: auto;
  padding-inline: 15px;
}

@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media screen and (min-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}
@media screen and (max-width: 1024px) {
  .fischer-nav {
    display: none;
  }
}
.fischer-nav > .container {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 70px;
  left: 50%;
  z-index: 100000;
  width: 100%;
}
.fischer-nav > .container .nav-items {
  padding-block: 20px;
  border-radius: 50px;
  background-color: #FFAB00;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  position: relative;
}
.fischer-nav > .container .nav-items img {
  position: absolute;
  left: 5px;
  width: 52px;
}
.fischer-nav > .container .nav-items a {
  text-decoration: none;
  color: black;
  margin-bottom: 0;
  font-family: "syne";
  font-size: 16px !important;
  font-weight: 500;
  transition: all 300ms;
  margin-top: 0;
}
.fischer-nav > .container .nav-items a:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.fischer-nav > .container .header-social-media {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
  padding: 0 1px 0 3px;
  border-radius: 50px;
  background-color: #2C2C2C;
  width: fit-content;
  margin-inline: auto;
}
.fischer-nav > .container .header-social-media a {
  display: flex;
}
.fischer-nav > .container .header-social-media a:not(:nth-child(3)) img {
  width: 30px;
  height: 30px;
}

.fischer-nav-mob {
  /*---------------------
      	Mobiles Menu - Slide IN 
      	----------------------*/
}
@media screen and (min-width: 1024px) {
  .fischer-nav-mob {
    display: none;
  }
}
.fischer-nav-mob .hamburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  padding-left: 15px;
  width: 100%;
  height: 43px;
  cursor: pointer;
  z-index: 1000000;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.fischer-nav-mob .bar,
.fischer-nav-mob .bar:after,
.fischer-nav-mob .bar:before {
  width: 30px;
  height: 3px;
}
.fischer-nav-mob .bar {
  position: relative;
  transform: translateY(10px);
  background: #FFAB00;
  transition: all 0ms 300ms;
}
.fischer-nav-mob .bar.animate {
  background: rgba(255, 255, 255, 0);
}
.fischer-nav-mob .bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  background: #FFAB00;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.fischer-nav-mob .bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  background: #FFAB00;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.fischer-nav-mob .bar.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.fischer-nav-mob .bar.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.fischer-nav-mob .mobile-menu ul {
  margin: 0;
  padding: 0;
}
.fischer-nav-mob .mobile-menu li {
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  overflow: hidden;
  padding: 5px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  padding-left: 15px;
  font-family: "syne";
}
.fischer-nav-mob .mobile-menu li:first-child {
  margin-top: 70px;
}
.fischer-nav-mob .mobile-menu li:hover {
  background: #CCCCCC;
}
.fischer-nav-mob .mobile-menu li a {
  text-decoration: none;
  color: black;
}
.fischer-nav-mob .active {
  display: block;
}
.fischer-nav-mob .mobile-menu {
  top: 0;
  max-width: 250px;
  left: -100%;
  width: 100%;
  background: rgba(255, 171, 0, 0.25);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: black;
  height: 100%;
  position: fixed;
  z-index: 9997;
  overflow-y: auto;
  -webkit-transform: translate3d(0, 0, 205px);
  -moz-transform: translate3d(0, 0, 205px);
  transform: translate3d(0, 0, 205px);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
@media screen and (max-width: 640px) {
  .fischer-nav-mob .mobile-menu {
    max-width: 100%;
  }
}
.fischer-nav-mob .mobile-menu.active {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.fischer-footer {
  background-color: #2C2C2C;
}
.fischer-footer .wizgrowth {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.fischer-footer .wizgrowth p {
  font-family: "poiret one";
  font-size: 18px;
  color: white;
}
.fischer-footer .wizgrowth a {
  display: block;
  font-family: "poiret one";
  font-size: 18px;
  color: #16876b;
  -webkit-text-stroke: 1px;
  letter-spacing: 1px;
}
.fischer-footer .container {
  padding-block: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .fischer-footer .container {
    flex-direction: column;
    gap: 50px;
  }
}
.fischer-footer .container .left-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 1024px) {
  .fischer-footer .container .left-container {
    margin-right: auto;
  }
}
.fischer-footer .container .left-container img {
  width: 70px;
}
.fischer-footer .container .left-container a {
  font-family: "syne";
  font-size: 32px;
  font-weight: 600;
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 1024px) {
  .fischer-footer .container .left-container a br {
    display: none;
  }
}
.fischer-footer .container .right-container {
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 1024px) {
  .fischer-footer .container .right-container {
    margin-right: auto;
  }
}
@media screen and (max-width: 640px) {
  .fischer-footer .container .right-container {
    flex-direction: column;
  }
}
.fischer-footer .container .right-container .address h3 {
  font-family: "poiret one";
  font-size: 32px !important;
  color: white;
  margin-bottom: 20px;
}
.fischer-footer .container .right-container .address p {
  font-family: "poppins";
  font-size: 16px !important;
  color: white;
}
.fischer-footer .container .right-container .contact h3 {
  font-family: "poiret one";
  font-size: 32px !important;
  color: white;
  margin-bottom: 20px;
}
.fischer-footer .container .right-container .contact div {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
.fischer-footer .container .right-container .contact div img {
  width: 20px;
}
.fischer-footer .container .right-container .contact div a {
  font-family: "poppins";
  font-size: 16px !important;
  color: white;
}
.fischer-footer .container .right-container .contact .social-media {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.fischer-footer .container .right-container .contact .social-media a img {
  width: 30px;
  height: 30px;
}

/*# sourceMappingURL=main.css.map */
